<span>
  {{textoPrincipal | uppercase}}
</span>
<span>
  {{textoPrincipal | lowercase}}
</span>
<span>
  <br/>
  {{ salario | currency}}
</span>
<br/>
<span>
  {{ salario | currency: 'CAD':'code'}}
</span>
<br/>
<span>
  {{ salario | currency: 'USD':'code'}}
</span>
<br/>
<span>
  {{ fecha | date: 'd/M/y'}}
</span>
<br/>
<span>
  {{ textoPrincipal | intercalar }}
</span>
<br/>
<span>
  {{ val | raizcuadrada}}
</span>
<br/>
<span>
  {{ val | potencia }}
</span>