<mat-card class="example-card" *ngFor="let u of lista">
  <mat-card-title>Name: {{ u.name | uppercase }} </mat-card-title>
  <mat-card-subtitle>Email {{ u.email | lowercase }}  </mat-card-subtitle>
  <mat-card-subtitle>Username: {{ u.username | lowercase }}  </mat-card-subtitle>
  <mat-card-subtitle>Lat & Long: {{ u.address.geo.lat }}, {{ u.address.geo.lng }} </mat-card-subtitle>
  <mat-card-actions>
    <button mat-button [routerLink]="['/listaToDos', u.id, true]">Completos</button>
    <button mat-button [routerLink]="['/listaToDos', u.id, false]">Incompletos</button>
    <button mat-button [routerLink]="['/locacion', u.address.geo.lat, u.address.geo.lng]">Google Maps</button>
   </mat-card-actions>
</mat-card>